<div class="container-add-products">
    <h1>Agrega un producto nuevo!</h1>
    <form class="form-add-product">
        <input id="title" class="input-field" placeholder="Título">
        <input id="description" class="input-field" placeholder="Descripción">
        <input id="code" class="input-field" placeholder="Código">
        <input id="price" type="number" class="input-field" placeholder="Precio">
        <input id="stock" type="number" class="input-field" placeholder="Stock">
        <input id="category" class="input-field" placeholder="Categoría">
        <input id="thumbnail" class="input-field" placeholder="URL del Thumbnail">
        <button type="submit" class="boton-agregar-producto">Add Product</button>
    </form>
</div>
<script src="/addProduct.logic.js"></script>